:root {
    --darkblue-color: darkblue;
    --normal-black-border: 1px solid black;
    --image-padding: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--darkblue-color)
}

main {
    max-width: 750px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid grey;
    padding: var(--image-padding);
    box-shadow: 0 0 30px gray;
}

img {
    width: 150px;
    height: auto;
    border: var(--normal-black-border);
    padding: var(--image-padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: white;
    color: #222;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--normal-black-border);
    text-align: center;

}